.tabs {
  margin-top: 50px;
  @include media-breakpoint-up(md) {
    margin-top: 82px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  &__title {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    max-width: 334px;
    line-height: 110%;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  &__text {
    font-family: $font-family-base;
    color: $color-black-alt;
    font-style: normal;
    font-weight: 500;
    max-width: 335px;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 25px;
  }

  &__context {
    font-family: $font-family-base;
    color: $color-black-alt;
    font-weight: 500;
    font-size: 14px;
    max-width: 335px;
    font-style: normal;
    line-height: 130%;
    margin-bottom: 60px;
  }

  &__photo {
    margin-bottom: 60px;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__photo-2 {
    margin-bottom: 125px;
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: 64px;
      margin-bottom: 70px;
      max-width: none;
    }

    &__text {
      font-size: 48px;
      max-width: none;
    }

    &__context {
      font-size: 18px;
      margin-bottom: 112px;
      max-width: none;
    }
  }
}

.tabs-nav {
  display: flex;
  margin-bottom: 50px;
  @include media-breakpoint-up(md) {
    margin-bottom: 111px;
  }
  &__item {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    margin-right: 55px;
    &:last-child {
      margin: 0;
    }
  }
  .is-active {
    border-color: $color-black-alt;
  }

  @include media-breakpoint-up(md) {
    &__item {
      font-size: 36px;
    }
  }
}

.tab {
  display: none;
  &__wrapper {
    display: flex;
  }
}

.tab.is-active {
  display: block;
}
