.tabs {
  margin-top: 82px;

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    flex-direction: row;
  }

  &__title {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 70px;
  }

  &__text {
    font-family: $font-family-base;
    color: $color-black-alt;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 110%;
    margin-bottom: 25px;
  }

  &__context {
    font-family: $font-family-base;
    color: $color-black-alt;
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 130%;
    margin-bottom: 120px;
  }

  &__photo {
    margin-bottom: 222px;
  }

  &__photo-2 {
    margin-bottom: 125px;
  }
}

.tabs-nav {
  display: flex;
  margin-bottom: 111px;
  &__item {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    margin-right: 55px;
    &:last-child {
      margin: 0;
    }
  }
  .is-active {
    border-color: $color-black-alt;
  }
}

.tab {
  background: $color-body;
  display: none;
  &__wrapper {
    display: flex;
  }
}

.tab.is-active {
  display: block;
}
